body{
    margin: 0;
}
.scroller{
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
perspective: 10px;
}

header{
    position: relative;
    display: flex;
    
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-10px) scale(2);
   
}



.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
.foreground{
    transform: translateZ(-5px) scale(1.5);
    z-index: 3;
}
.title{
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 5px black;
    position: absolute;
    margin-top: -160px;
    transform: translateZ(-7px) scale(1.3);
    z-index: 2;
    width: 100px;
  
}

section{
    background-color: #1F3863;
    height: 100vh;;
    place-items: center;
    display: grid;
}
section > h2{
    font-size: 2rem;
    color: wheat;
    text-shadow: 0 0 5px black;

}

section > .envelope-wrapper{
    background: white;
    box-shadow: 0 0 40px black ;
}

section > .envelope-wrapper > .envelope{
    position: relative;
    width: 375px;
    height: 287.5px;
}

section > .envelope-wrapper > .envelope::before{
content: '';
position: absolute;
z-index: 2;
border-top: 162.5px solid beige;
border-right: 187.5px solid transparent;
border-left: 187.5px solid transparent;
top: 0;
transform-origin: top;
transition: all 0.5s ease-in-out 0.7s;
}

section > .envelope-wrapper > .envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 162.5px solid transparent;
    border-right: 187.5px solid wheat;
    border-left: 187.5px solid wheat;
    border-bottom: 125px solid wheat ;
    bottom: 0;

}

.letter{
    position: absolute;
    right: 20%;
    bottom:0;
    width: 54%;
    height: 80%;
    background: white;
    transition: all 1s ease-in-out;
    padding: 20px 10px;
    box-shadow: 0 0 10px black;
    z-index: 0;
}

.letter > .text{
    font-size: 10px;
    color:black;
    text-align: left;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: red;
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg); 
    transition: transform 0.5s ease-in-out 1s;
    box-decoration-break: 0 0 10px black;
    cursor: pointer;
}

.heart::before, .heart::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
}

.heart::before{
    top: -7.5px
}

.heart::after{
    right: 7.5px;
}

.flap > .envelope::before{
    z-index: 0;
    transform: rotateX(180deg);
}

.flap > .envelope .letter{
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
    z-index: 3;
}

.flap > .heart{
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

.text p{
    font-size: 8px;
}

@media only screen and (max-width: 1400px){
   section h2{
    text-align: center;
   }

   .title{
    margin-top: -500px;
    font-size: 8rem;
   }
}